html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:  monospace;
  color: #622031;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  /*
  border-color: #f75bd2;
  color: #006060;
  */
  background-color: #E0DFDC;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* buttons and shit */
#buttons {
  float: left;
  width:176px;
  margin-top: 50px;
  margin-left: calc(7.5% - 103px);
  margin-right: calc(2.5% - 103px);
  font-size: 0;
  border: solid #bdbdd5 15px;
  background-color: #bdbdd5;
  border-radius: 10px;
}
#buttons img{
  width: 88px;
  height: 31px;
}
.main_body{
  float: right;
  height: 100vh;
  width: 77.5%;
  margin-right: 7.5%;
  margin-left: 2.5%;
  align-items: center;
}
.main_body div{
  margin: 2.5%;
  font-size: 15px;
}
#title {
  margin-top: 5vh;
}
#title h1{
  font-size: 50px;
}
#links{
  font-size: 15px;
  float: left;
  width: 176px;
  margin-top: 5vh;
  margin-left: calc(7.5% - 103px);
  margin-right: calc(2.5% - 103px);
  border: solid #bdbdd5 15px;
  background-color: #bdbdd5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#links a{
  color:black;
}
#intro {
  font-size: 14px;
}
#intro ul {
  padding-left: 15px;
  list-style-type: circle;
}
.pronouns {
  font-size: 9px;
  vertical-align: super;
}
.block{
  height: 60vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 2.5%;
}
.block div{
  font-size: 15px;
  background-color: #bdbdd5;
  box-sizing: border-box;
  border: solid 10px #bdbdd5;
  border-radius: 10px;
  height: 25vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#in_progress {
  display:inline;
}


/* colors in use
soft white #E0DFDC
soft blue #bdbdd5
drak blue #31529c
slate grey #737b9c
dark red #622031
light red #bd3152
*/