html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Andale Mono, garamond, tahoma;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#main_title{
  padding-right: 45%;
  padding-left: 45%;
  width: 10%;
  margin-top: 5%;
}
#main_title h1{
  font-size: 50px;
}
#main_body {
  margin-top: 5%;
  margin-left: 10%
  margin-right: 10%;
}
#main_buttons {
  width: 88px;
  padding: 10px;
}
#main_buttons img {
  float: left;
  padding-top: 2.5%;
  padding-left: 20px;
  width: 88px;
  height: 31px;
}
#main_texts {
  float: right;
  
}