html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 10px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  background-color: rgb(197, 197, 184);
}

h1 {
    font-size: 40px;
}

p {
    font-size: 14px;
}

small {
    font-size: 10px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div{
    box-sizing: border-box;
}
.good {
    background-color: green;
}

.bad{
    background-color: red;
}

.button{
    font-size: 20px;
    display: block;
    margin: 20px;
    padding: 20px;
}

.button-red{
    background: red;
    margin-left: 90px;
}

.button-green{
    background: green;
    display: inline-block;
}

.button-weird{
    background: #9a9aff;
    margin-left: 90px;
}

.hacker_area {
    display: none;
}

#plane_sex {
    width: 750px;
}

#buttons {
    background-color: black;
    border: 20px;
    border-color: red;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

#box {
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 3px dashed #111111;
    border-radius: 35% 75%;
    width: 400px;
    height: 400px
}

#circle_text {
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 5px solid #ffffff;
    padding: 40px
}