/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

body{
  background-color: rgb(197, 197, 184);
}

h1 {
    font-size: 40px;
}

p {
    font-size: 14px;
}

small {
    font-size: 10px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.good {
    background-color: green;
}

.bad{
    background-color: red;
}

.button{
    font-size: 20px;
    display: block;
    margin: 20px;
    padding: 20px;
}

.button-red{
    background: red;
    margin-left: 90px;
}

.button-green{
    background: green;
    display: inline-block;
}

.button-weird{
    background: #9a9aff;
    margin-left: 90px;
}

.hacker_area {
    display: none;
}

#plane_sex {
    width: 750px;
}

#buttons {
    background-color: black;
    border: 20px;
    border-color: red;
    margin: 20px;
    padding: 20px;
}

#box {
    padding: 50px;
    margin: 20px 30px 20px 160px;
    border: 3px solid #111111;
}