html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:  monospace;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  /*
  border-color: #f75bd2;
  color: #006060;
  */
  background-color: #E0DFDC;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#main_title{
  margin-right: 40%;
  margin-left: 40%;
  width: 30%;
  margin-top: 2.5%;
  margin-bottom: ;
}
#main_title h1{
  font-size: 45px;
}
#main_links {
  margin: 2.5% 40% 2.5% 40%;
  background-color: violet;
  width: 20%;
  font-size: xx-large;
  box-sizing: border-box;
  border: solid 5px black;
  border-radius: 4px;
}
#main_body {
  width: 95%;
  margin-top: 2.5%;
  margin-left: 10%
  margin-right: 2.5%;
  display: flex;
  flex-direction: row-reverse;
}
#main_buttons {
  background-color: aqua;
  width: 88px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
#main_buttons img {
  padding-top: 2.5%;
  width: 88px;
  height: 31px;
}
#main_texts {
  font-size: xx-large;
  width: 100%;
  background-color: red;
}
#main_intro {
  background-color: greenyellow;
  margin: 10%;
}
#main_block{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: yellow;
  gap: 50px;
  padding-left: 10%;
  height: 50%;
}
#main_guestbook {
  width: 40%;
  background-color: aqua;
}
#main_side_text_one {
  width: 40%;
  background-color: white;
}
#main_side_text_two {
  width: 40%;
  background-color: white;
}
#main_side_text_three {
  width: 40%;
  background-color: rebeccapurple;
}